In [1]:
import pandas as pd

In [28]:
# Load libraries
import os
import re
import fileinput
import sys
from glob import glob
import shutil

In [73]:
# Create path to content
path = 'data'

In [74]:
# Find all jupyter notebooks in all content folders
all_ipynb_files = [os.path.join(root, name)
                   for root, dirs, files in os.walk(path)
                       for name in files
                           if name.endswith((".csv"))]

# Remove all notebooks from checkpoint folders
ipynb_files = [ x for x in all_ipynb_files if ".ipynb_checkpoints" not in x ]

In [75]:
ipynb_files

['data\\CancerData\\CancerRaw_Data.csv',
 'data\\CensusData\\CensusData.csv',
 'data\\TobacoUsageData\\Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv']

In [76]:
data = pd.read_csv(ipynb_files[1])

In [90]:
# Read Census Data
Cancer_pd = pd.read_csv('data\\CancerData\\LungCancerPatientsperState_Data.csv')

# Read Lung Cancer Data
Census_pd = pd.read_csv('data\\CensusData\\US_Census_data.csv')

# Read Tobaco Usage Data  
TobacoUsage_pd = pd.read_csv('data\\TobacoUsageData\\Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv')

# Read Pollution Data 
Pollution_pd = pd.read_csv('C:\\Users\\rarora17\\Desktop\\Hackathon\\data\\AirPollutionData\\uspollution_pollution_us_2000_2016.csv')

In [91]:
print('Cancer_pd.shape',Cancer_pd.shape)
Cancer_pd.head()
#Cancer_pd.describe()

Cancer_pd.shape (300, 4)

   YEAR LocationDesc StateCode  Lung Cancer Patients Count
0  2011      Alabama        AL                        4240
1  2011       Alaska        AK                         380
2  2011      Arizona        AZ                        3820
3  2011     Arkansas        AR                        2660
4  2011   California        CA                       17660

### Clean the Census Data

In [93]:
print('Census_pd.shape',Census_pd.shape)
Census_pd.head()
#Census_pd.describe()

Census_pd.shape (56, 10)

,Geographic Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016
0,United States,308745538,308758105,309348193,311663358,313998379,316204908,318563456,320896618,323127513
1,Northeast,55317240,55318353,55388056,55632766,55829059,55988771,56116791,56184737,56209510
2,Midwest,66927001,66929825,66978602,67153331,67332320,67543948,67726368,67838387,67941429
3,South,114555744,114563005,114863114,116061801,117299171,118424320,119696311,121039206,122319574
4,West,71945553,71946922,72118421,72815460,73537829,74247869,75023986,75834288,76657000

In [96]:
Census_pd = Census_pd.drop([0,1,2,3,4])

In [98]:
print('Census_pd.shape',Census_pd.shape)
Census_pd.head()

Census_pd.shape (51, 10)

,Geographic Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016
5,Alabama,4779736,4780131,4785492,4799918,4815960,4829479,4843214,4853875,4863300
6,Alaska,710231,710249,714031,722713,731089,736879,736705,737709,741894
7,Arizona,6392017,6392301,6408312,6467163,6549634,6624617,6719993,6817565,6931071
8,Arkansas,2915918,2916025,2921995,2939493,2950685,2958663,2966912,2977853,2988248
9,California,37253956,37254522,37332685,37676861,38011074,38335203,38680810,38993940,39250017

In [99]:
### Clean the Tobaco Data

In [102]:
print('TobacoUsage_pd.shape',TobacoUsage_pd.shape)
TobacoUsage_pd.head()

TobacoUsage_pd.shape (14069, 31)

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2014-2015,AL,Alabama,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(32.84057112200048, -86.63186076199969)",BEH,100BEH,112CS2,1GEN,8AGE,5RAC,6EDU,BRF34,34
1,2014-2015,AL,Alabama,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(32.84057112200048, -86.63186076199969)",BEH,100BEH,112CS2,1GEN,8AGE,1RAC,6EDU,BRF30,30
2,2014-2015,AL,Alabama,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(32.84057112200048, -86.63186076199969)",BEH,100BEH,112CS2,1GEN,8AGE,4RAC,6EDU,BRF33,33
3,2014-2015,AL,Alabama,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(32.84057112200048, -86.63186076199969)",BEH,100BEH,112CS2,1GEN,8AGE,3RAC,6EDU,BRF32,32
4,2014-2015,AL,Alabama,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(32.84057112200048, -86.63186076199969)",BEH,100BEH,112CS2,1GEN,8AGE,2RAC,6EDU,BRF31,31

In [126]:
#Get Unique Values from a Column in Pandas Data Frame
TobacoUsage_pd['YEAR'].unique().tolist()

['2014-2015',
 '2015',
 '2016',
 '2013-2014',
 '2012-2013',
 '2011-2012',
 '2014',
 '2013',
 '2012',
 '2011',
 '2015-2016']

In [167]:
#Get Frequency Counts of a Column
TobacoUsage_pd['YEAR'].value_counts()

2012         2124
2014         2124
2013         2124
2016         2124
2015         2124
2011         2124
2014-2015     265
2015-2016     265
2011-2012     265
2013-2014     265
2012-2013     265
Name: YEAR, dtype: int64

In [162]:
#Get Frequency Counts of a Column
Selected = TobacoUsage_pd['YEAR'].value_counts()[TobacoUsage_pd['YEAR'].value_counts()>265]

In [168]:
Selected

2012    2124
2014    2124
2013    2124
2016    2124
2015    2124
2011    2124
Name: YEAR, dtype: int64

In [163]:
deleteList = Selected.index.tolist()

In [170]:
deleteList

['2012', '2014', '2013', '2016', '2015', '2011']

In [164]:
TobacoUsage_pd_Yearonly = TobacoUsage_pd[TobacoUsage_pd.YEAR.isin(deleteList)]

In [171]:
#TobacoUsage_pd_Yearonly.head()
TobacoUsage_pd_Yearonly = TobacoUsage_pd[TobacoUsage_pd.YEAR.isin(TobacoUsage_pd['YEAR'].value_counts()[TobacoUsage_pd['YEAR'].value_counts()>265].index.tolist())]

In [172]:
TobacoUsage_pd_Yearonly['YEAR'].value_counts()

2012    2124
2014    2124
2013    2124
2016    2124
2015    2124
2011    2124
Name: YEAR, dtype: int64

In [173]:
TobacoUsage_pd_Yearonly.head()

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
39,2015,AL,Alabama,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(32.84057112200048, -86.63186076199969)",BEH,100BEH,110CSA,1GEN,7AGE,6RAC,4EDU,BRF24,24
78,2016,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Current,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,165SSA,2GEN,8AGE,6RAC,6EDU,BRF27,27
98,2016,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Current,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,165SSA,3GEN,8AGE,6RAC,6EDU,BRF27,27
118,2016,MT,Montana,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(47.06652897200047, -109.42442064499971)",BEH,100BEH,110CSA,1GEN,8AGE,5RAC,6EDU,BRF22,22
138,2016,TX,Texas,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(31.827240407000488, -99.42677020599967)",BEH,100BEH,110CSA,1GEN,8AGE,5RAC,6EDU,BRF22,22

In [179]:
TobacoUsage_pd_Yearonly[TobacoUsage_pd_Yearonly['LocationAbbr']=='MT' AND TobacoUsage_pd_Yearonly['YEAR']=2011]

SyntaxError: invalid syntax (<ipython-input-179-adea4e31cd12>, line 1)

In [183]:
TobacoUsage_pd_Yearonly['LocationAbbr']=='MT' || TobacoUsage_pd_Yearonly['YEAR']=2011

SyntaxError: invalid syntax (<ipython-input-183-ec683bf7cc1c>, line 1)

In [ ]:
print('Pollution_pd.shape',Pollution_pd.shape)
Pollution_pd.head
Pollution_pd.describe()